---
slack_channel: '#channel-name'
slack_token: 'xoxo-123'
rtt_api_username: 'john.doe'
rtt_api_password: 'abc123'
rtt_api_base: 'https://api.rtt.io'
rtt_api_prefix: '/api/v1'

routes:

  morning:
  - at: STN
    from: ABC
  - at: STN
    from: DEF
  - at: STN
    to: ZZZ

  evening:
  - at: ABC
    from: AAA
    to: STN
  - at: DEF
    from: ZZZ
    to: STN
