---
slack_channel: '#channel-name'
slack_token: 'xoxo-123'
rtt_api_username: 'john.doe'
rtt_api_password: 'abc123'
rtt_api_base: 'https://api.rtt.io'
rtt_api_prefix: '/api/v1'

delays:
  low: 3
  high: 5

routes:

  morning:
  - at: STN
    from: ABC
  - at: STN
    from: DEF
  - at: STN
    to: ZZZ

  evening:
  - at: ABC
    from: AAA
    to: STN
  - at: DEF
    from: ZZZ
    to: STN

journeys:
  morning_station: ABC
  morning:
  - W12345
  - U67890
  evening_station: XYZ
  evening:
  - U98765
  - dep: W54321 # outbound
    arr: W43210 # inbound
